<div class='card' class='container'>
  <h3 class='card-title'>My Repositories:</h3><br>
  <div *ngFor='let repository of repos'>
    <table class='card-body' class="table">
        <tr>
          <th>Repo ID</th>
          <th>Repo Name</th>
          <th>Repo URL</th>
        </tr>
        <tr>
          <td>{{repository.id}}</td>
          <td><strong appFontSwitcher>{{repository.name}}</strong></td>
          <td><a href="{{repository.url}}">{{repository.url}}</a></td>
        </tr>
    </table>
</div>
</div>