<div class="container">
  <div>
  <form  (ngSubmit)='findProfile()'>
  <input class="input" name="find" [(ngModel)]="find">
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div  class="row">
    <div *ngFor='let u of users'>
      <table class="table info-bio">
        <tbody>
          <tr>
            <th scope="row">Username:</th>
            <td> <a routerLink="/users/{{ u.login }}">{{ u.login }}</a> </td>
          </tr>
          <tr>
            <th scope="row">Profile Photo:</th>
            <td><img src="{{u.avatar_url}}" alt="" width="100px" height="100px"></td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  
  
  </div>
  </div>